/astralsorcery
/coremods
/crash-reports
/llibrary
/local
/logs
/resourcepacks
/saves
/screenshots
/server-resource-packs
/texturepacks
crafttweaker.log
icon.png
options.txt
usercache.json
usernamecache.json
*.errored
waypoints.txt
/config/jei/worldSettings.cfg
/config/biomesoplenty/biomes/defaults