# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:blacklistTickingBlocks=true
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    B:requireBagSpace=false
    I:stoneChiselUses=8384
    B:voidExcessBits=false
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:dynamicRenderFullChunksOnly=true
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    I:minimizeLatancyMaxTime=100
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMaterial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableChiselCrafting=true
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:WayofTime.bloodmagic.block.BlockBloodRune=true
    B:WayofTime.bloodmagic.block.BlockDecorative=true
    B:WayofTime.bloodmagic.block.BlockDemonBase=true
    B:WayofTime.bloodmagic.block.BlockDemonLight=true
    B:WayofTime.bloodmagic.block.BlockDemonPillarBase=true
    B:WayofTime.bloodmagic.block.BlockDemonPillarCapBase=true
    B:WayofTime.bloodmagic.block.BlockPath=true
    B:WayofTime.bloodmagic.block.BlockRitualStone=true
    B:arcaratus.bloodarsenal.block.BlockBloodInfusedGlowstone=true
    B:arcaratus.bloodarsenal.block.BlockBloodInfusedIron=true
    B:arcaratus.bloodarsenal.block.BlockBloodInfusedWoodenLog=true
    B:arcaratus.bloodarsenal.block.BlockBloodInfusedWoodenPlanks=true
    B:arcaratus.bloodarsenal.block.BlockSlate=true
    B:biomesoplenty.common.block.BlockBOPAsh=true
    B:biomesoplenty.common.block.BlockBOPBiomeBlock=true
    B:biomesoplenty.common.block.BlockBOPCrystal=true
    B:biomesoplenty.common.block.BlockBOPGem=true
    B:biomesoplenty.common.block.BlockBOPGemOre=true
    B:biomesoplenty.common.block.BlockBOPGeneric=true
    B:biomesoplenty.common.block.BlockBOPHive=true
    B:biomesoplenty.common.block.BlockBOPLog=true
    B:biomesoplenty.common.block.BlockBOPPlanks=true
    B:biomesoplenty.common.block.BlockBOPWhiteSand=true
    B:biomesoplenty.common.block.BlockBOPWhiteSandstone=true
    B:ca.zenotek.sentek.blocks.BlockCore=true
    B:ca.zenotek.sentek.blocks.BlockNode=true
    B:com.ancient.thaumicgadgets.blocks.BlockBase=true
    B:com.ancient.thaumicgadgets.blocks.BlockCache=true
    B:com.ancient.thaumicgadgets.blocks.BlockLight=true
    B:com.ancient.thaumicgadgets.blocks.BlockSarcophagus=true
    B:com.ancient.thaumicgadgets.blocks.BlockTeleportatorCore=true
    B:com.cobbs.lordcraft.Blocks.BasicBlock=true
    B:com.cobbs.lordcraft.Blocks.CrystalOre=true
    B:com.cobbs.lordcraft.Blocks.DimensionBlock=true
    B:com.cobbs.lordcraft.Blocks.LordDirt=true
    B:com.cobbs.lordcraft.Blocks.LordSummoner=true
    B:com.github.alexthe666.iceandfire.block.BlockDragonOre=true
    B:com.github.alexthe666.iceandfire.block.BlockFallingGeneric=true
    B:com.github.alexthe666.iceandfire.block.BlockGeneric=true
    B:com.headfishindustries.obelisk.blocks.BlockObelisk=true
    B:com.jaquadro.minecraft.storagedrawers.block.BlockTrim=true
    B:com.jaquadro.minecraft.storagedrawersextra.block.BlockTrimExtra=true
    B:com.nekokittygames.thaumictinkerer.common.blocks.BlockBlackQuartz=true
    B:com.rumaruka.tb.common.block.BlockTBLog=true
    B:com.rumaruka.tb.common.block.BlockTBPlanks=true
    B:com.rumaruka.tb.common.block.TBBlock=true
    B:com.rumaruka.tb.common.block.TBBlockCrytal=true
    B:com.rumaruka.tb.common.block.TBSidedBlock=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACBasic=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACBrick=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACCobblestone=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACLog=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockACOre=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockCalcifiedStone=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockDreadlandsDirt=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockEthaxiumPillar=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockFusedAbyssalSand=true
    B:com.shinoow.abyssalcraft.common.blocks.BlockSolidLava=true
    B:com.shinoow.abyssalcraft.common.blocks.IngotBlock=true
    B:com.teamdman.animus.blocks.BlockBloodWood=true
    B:com.teamwizardry.wizardry.common.block.BlockNacre=true
    B:com.teamwizardry.wizardry.common.block.BlockNacreBrick=true
    B:com.teamwizardry.wizardry.common.block.wisdomwood.BlockWisdomWoodLog=true
    B:com.teamwizardry.wizardry.common.block.wisdomwood.BlockWisdomWoodPigmentedPlanks=true
    B:com.teamwizardry.wizardry.common.block.wisdomwood.BlockWisdomWoodPlanks=true
    B:"com.zpig333.runesofwizardry.api.DustRegistry$3"=true
    B:com.zpig333.runesofwizardry.block.BlockLavastone_bricks=true
    B:electroblob.wizardry.block.BlockCrystalOre=true
    B:essentialcraft.common.block.BlockBlockBreaker=true
    B:essentialcraft.common.block.BlockColdStone=true
    B:essentialcraft.common.block.BlockCompressedDrops=true
    B:essentialcraft.common.block.BlockCrystalLamp=true
    B:essentialcraft.common.block.BlockDropsOre=true
    B:essentialcraft.common.block.BlockDyeable=true
    B:essentialcraft.common.block.BlockEC=true
    B:essentialcraft.common.block.BlockFancy=true
    B:essentialcraft.common.block.BlockHologramSpawner=true
    B:essentialcraft.common.block.BlockMagicalFruit=true
    B:essentialcraft.common.block.BlockMetadataManager=true
    B:essentialcraft.common.block.BlockMithrilineOre=true
    B:hellfirepvp.astralsorcery.common.block.BlockBlackMarble=true
    B:hellfirepvp.astralsorcery.common.block.BlockCustomOre=true
    B:hellfirepvp.astralsorcery.common.block.BlockCustomSandOre=true
    B:hellfirepvp.astralsorcery.common.block.BlockInfusedWood=true
    B:hellfirepvp.astralsorcery.common.block.BlockMarble=true
    B:knightminer.ceramics.blocks.BlockClayHard=true
    B:knightminer.ceramics.blocks.BlockClayRainbow=true
    B:knightminer.ceramics.blocks.BlockClaySoft=true
    B:knightminer.ceramics.blocks.BlockStained=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockConcretePowder=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlazedTerracotta=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockMycelium=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObserver=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStainedHardenedClay=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:net.minecraft.block.BlockWorkbench=true
    B:"org.cyclops.evilcraft.block.BloodWaxedCoalBlockConfig$1"=true
    B:"org.cyclops.evilcraft.block.BloodyCobblestoneConfig$1"=true
    B:org.cyclops.evilcraft.block.DarkBlock=true
    B:org.cyclops.evilcraft.block.DarkBloodBrick=true
    B:"org.cyclops.evilcraft.block.DarkBrickConfig$1"=true
    B:org.cyclops.evilcraft.block.DarkPowerGemBlock=true
    B:org.cyclops.evilcraft.block.HardenedBlood=true
    B:org.cyclops.evilcraft.block.LightningBomb=true
    B:org.cyclops.evilcraft.block.NetherfishSpawn=true
    B:"org.cyclops.evilcraft.block.UndeadLogConfig$1"=true
    B:"org.cyclops.evilcraft.block.UndeadPlankConfig$1"=true
    B:org.jglrxavpok.moarboats.common.blocks.BlockBoatBattery=true
    B:pegbeard.dungeontactics.blocks.DTBlockGeneric=true
    B:pegbeard.dungeontactics.blocks.DTOreGeneric=true
    B:pokefenn.totemic.block.BlockCedarLog=true
    B:pokefenn.totemic.block.BlockCedarPlank=true
    B:rustic.common.blocks.BlockBase=true
    B:rustic.common.blocks.BlockClayWallDiag=true
    B:rustic.common.blocks.BlockFertileSoil=true
    B:rustic.common.blocks.BlockLogRustic=true
    B:rustic.common.blocks.BlockPillar=true
    B:rustic.common.blocks.BlockPlanksRustic=true
    B:soot.block.BlockPillar=true
    B:tamaized.tammodized.common.blocks.TamBlock=true
    B:tamaized.voidcraft.common.blocks.BlockFakeBedrock=true
    B:"team.chisel.Features$31$1"=true
    B:"team.chisel.Features$32$1"=true
    B:"team.chisel.Features$33$1"=true
    B:"team.chisel.Features$37$1"=true
    B:"team.chisel.Features$49$1"=true
    B:"team.chisel.Features$57$1"=true
    B:"team.chisel.Features$7$1"=true
    B:"team.chisel.Features$73"=true
    B:team.chisel.common.block.BlockCarvable=true
    B:team.chisel.common.block.BlockCarvableCarpet=true
    B:teamroots.embers.block.BlockBase=true
    B:teamroots.embers.block.BlockQuartzOre=true
    B:thaumcraft.common.blocks.basic.BlockMetalTC=true
    B:thaumcraft.common.blocks.basic.BlockPlanksTC=true
    B:thaumcraft.common.blocks.basic.BlockStonePorous=true
    B:thaumcraft.common.blocks.basic.BlockStoneTC=true
    B:thaumcraft.common.blocks.misc.BlockFlesh=true
    B:thaumcraft.common.blocks.world.ore.BlockOreTC=true
    B:thaumcraft.common.blocks.world.plants.BlockLogsTC=true
    B:twilightforest.block.BlockTFAuroraBrick=true
    B:twilightforest.block.BlockTFAuroraPillar=true
    B:twilightforest.block.BlockTFCastleBlock=true
    B:twilightforest.block.BlockTFCastleDoor=true
    B:twilightforest.block.BlockTFCastleMagic=true
    B:twilightforest.block.BlockTFCastlePillar=true
    B:twilightforest.block.BlockTFCinderFurnace=true
    B:twilightforest.block.BlockTFCinderLog=true
    B:twilightforest.block.BlockTFCompressed=true
    B:twilightforest.block.BlockTFDarkLeaves=true
    B:twilightforest.block.BlockTFDeadrock=true
    B:twilightforest.block.BlockTFFluffyCloud=true
    B:twilightforest.block.BlockTFGiantCobble=true
    B:twilightforest.block.BlockTFGiantLog=true
    B:twilightforest.block.BlockTFGiantObsidian=true
    B:twilightforest.block.BlockTFHugeStalk=true
    B:twilightforest.block.BlockTFLog=true
    B:twilightforest.block.BlockTFMagicLog=true
    B:twilightforest.block.BlockTFMagicLogSpecial=true
    B:twilightforest.block.BlockTFMazestone=true
    B:twilightforest.block.BlockTFNagastone=true
    B:twilightforest.block.BlockTFNagastoneEtched=true
    B:twilightforest.block.BlockTFNagastonePillar=true
    B:twilightforest.block.BlockTFRoots=true
    B:twilightforest.block.BlockTFShield=true
    B:twilightforest.block.BlockTFTowerDevice=true
    B:twilightforest.block.BlockTFTowerWood=true
    B:twilightforest.block.BlockTFTrollSteinn=true
    B:twilightforest.block.BlockTFUncraftingTable=true
    B:twilightforest.block.BlockTFUnderBrick=true
    B:vazkii.quark.automation.block.BlockSugar=true
    B:vazkii.quark.building.block.BlockBark=true
    B:vazkii.quark.building.block.BlockCarvedWood=true
    B:vazkii.quark.building.block.BlockCharredNetherBricks=true
    B:vazkii.quark.building.block.BlockDuskbound=true
    B:vazkii.quark.building.block.BlockDuskboundLantern=true
    B:vazkii.quark.building.block.BlockHardenedClayTiles=true
    B:vazkii.quark.building.block.BlockIronPlate=true
    B:vazkii.quark.building.block.BlockMagmaBricks=true
    B:vazkii.quark.building.block.BlockMidori=true
    B:vazkii.quark.building.block.BlockMidoriPillar=true
    B:vazkii.quark.building.block.BlockNewSandstone=true
    B:vazkii.quark.building.block.BlockPolishedNetherrack=true
    B:vazkii.quark.building.block.BlockPolishedStone=true
    B:vazkii.quark.building.block.BlockQuiltedWool=true
    B:vazkii.quark.building.block.BlockReed=true
    B:vazkii.quark.building.block.BlockSandyBricks=true
    B:vazkii.quark.building.block.BlockSnowBricks=true
    B:vazkii.quark.building.block.BlockSoulSandstone=true
    B:vazkii.quark.building.block.BlockStainedClayTiles=true
    B:vazkii.quark.building.block.BlockStainedPlanks=true
    B:vazkii.quark.building.block.BlockSturdyStone=true
    B:vazkii.quark.building.block.BlockThatch=true
    B:vazkii.quark.building.block.BlockVerticalPlanks=true
    B:vazkii.quark.building.block.BlockVerticalStainedPlanks=true
    B:vazkii.quark.building.block.BlockWorldStoneBricks=true
    B:vazkii.quark.building.block.BlockWorldStonePavement=true
    B:vazkii.quark.decoration.block.BlockBlazeLantern=true
    B:vazkii.quark.decoration.block.BlockCharcoal=true
    B:vazkii.quark.decoration.block.BlockCustomBookshelf=true
    B:vazkii.quark.decoration.block.BlockLitLamp=true
    B:vazkii.quark.world.block.BlockBasalt=true
    B:vazkii.quark.world.block.BlockBiomeCobblestone=true
    B:vazkii.quark.world.block.BlockBiotite=true
    B:vazkii.quark.world.block.BlockBiotiteOre=true
    B:vazkii.quark.world.block.BlockCrystal=true
    B:vazkii.quark.world.block.BlockLimestone=true
    B:vazkii.quark.world.block.BlockMarble=true
    B:xxrexraptorxx.runecraft.blocks.BlockAshe=true
    B:xxrexraptorxx.runecraft.blocks.BlockRuin=true
}


"integration settings" {
    B:ShowBitsInJEI=false
    B:enableMCMultipart=true
    B:enableVivecraftCompatibility=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


troublershooting {
    B:disableCustomVertexFormats=false
    B:enableFaceLightmapExtraction=true
    B:useGetLightValue=true
}


troubleshooting {
    B:enableAPITestingItem=false
    B:logTileErrors=false
}


